@media (prefers-color-scheme: light) {
    :root {
        --primary-1: #f8f9fa;
        --primary-2: #e9ecef;
        --primary-3: #dee2e6;
        --primary-4: #ced4da;
        --primary-5: #adb5bd;
        --primary-6: #6c757d;
        --primary-7: #495057;
        --primary-8: #343a40;
        --primary-9: #212529;
        --secondary-1: #caf0f8;
        --secondary-2: #ade8f4;
        --secondary-3: #90e0ef;
        --secondary-4: #48cae4;
        --secondary-5: #00b4d8;
        --secondary-6: #0096c7;
        --secondary-7: #0077b6;
        --secondary-8: #023e8a;
        --secondary-9: #03045e;
        --accent-1: #ffccd5;
        --accent-2: #ffb3c1;
        --accent-3: #ff8fa3;
        --accent-4: #ff758f;
        --accent-5: #ff4d6d;
        --accent-6: #c9184a;
        --accent-7: #a4133c;
        --accent-8: #800f2f;
        --accent-9: #590d22;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-9: #f8f9fa;
        --primary-8: #e9ecef;
        --primary-7: #dee2e6;
        --primary-6: #ced4da;
        --primary-5: #adb5bd;
        --primary-4: #6c757d;
        --primary-3: #495057;
        --primary-2: #343a40;
        --primary-1: #212529;
        --secondary-9: #caf0f8;
        --secondary-8: #ade8f4;
        --secondary-7: #90e0ef;
        --secondary-6: #48cae4;
        --secondary-5: #00b4d8;
        --secondary-4: #0096c7;
        --secondary-3: #0077b6;
        --secondary-2: #023e8a;
        --secondary-1: #03045e;
        --accent-9: #ffccd5;
        --accent-8: #ffb3c1;
        --accent-7: #ff8fa3;
        --accent-6: #ff758f;
        --accent-5: #ff4d6d;
        --accent-4: #c9184a;
        --accent-3: #a4133c;
        --accent-2: #800f2f;
        --accent-1: #590d22;
    }
}

body {
    width: 95%;
    margin: 1rem auto;
    color: var(--primary-9);
    background-color: var(--primary-1);
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

html {
    font-size: 12pt;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

h2 {
    font-style: italic;
}

a {
    color: var(--secondary-6);
}

a:visited {
    color: var(--secondary-4);
}

a:hover {
    color: var(--secondary-8);
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}